body{
  margin: 0;
  padding: 0;
}
.container{
  width: 900px;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr auto;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  grid-template-areas: 
    "head head"
    "navigation main"
    "footer footer"
  ;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
}

nav {
  grid-area: navigation;
}

footer {
  grid-area: footer;
}